<h3>Login de Usuario</h3>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
              <form [formGroup]="formulario" (ngSubmit)="login()">
                  <div class="row">
                      <div class="col-md-4">
                          <mat-form-field appearance="outline">
                              <mat-label>Nombre de usuario</mat-label>
                              <input matInput formControlName="nombre">
                          </mat-form-field>
                      </div>
              
                      <div class="col-md-4">
                          <mat-form-field appearance="outline">
                              <mat-label>Password</mat-label>
                              <input  matInput formControlName="password">
                          </mat-form-field>
                      
                      </div>
                      <div class="col-md-2">
                        <mat-slide-toggle formControlName="admin">Es admin</mat-slide-toggle>
                    </div>
                      <div class="col-md-12">
                          <button mat-raised-button color="primary" type="submit" class="fill">Logear</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

